@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html,
body,
#app {
    height: 100%;
    margin: 0;
}

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

textarea::-webkit-scrollbar {
    width: 7px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #52525b;
    border-radius: 9999px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #92929f;
}

@layer components {
    .glass {
        @apply border! border-white/20! bg-linear-to-b from-black/30 to-gray-500/5! p-1.5! backdrop-saturate-200! opacity-95!;
    }
}
